// Default Styling

body {
  font-family: $font-family-sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

pre {
  color: rgb(94, 94, 94);
}

.container {
  margin: 0;
  padding: 0;
}

.nav-scroll {
  box-shadow: 5px 0px 16px -6px rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  width: 90%;
  z-index: 9999999999;
}

.mobile-nav-scroll {
  @extend .nav-scroll;
  background: #fff;
  width: 100%;
}