.is-hidden {
    display: none !important;

    &--opac {
        opacity: 0;
    }

    &--mobile {
        @media (max-width: $tab-sm) {
            display: none;
        }
    }

    &--desktop {
        @media (min-width: $tab-sm) {
            display: none;
        }
    }
}

.fixed {
    &--top {
        position: fixed !important;
        top: 0;
    }
}

.m-top {
    &--none {
        margin-top: 0;
    }

    &--sm {
        margin-top: 12rem;
    }

    &--md {
        margin-top: 2.5rem !important;
    }

    &--lg {
        margin-top: 7.5rem !important;
    }

    &--xl {
        margin-top: 10rem !important;
    }
}

.m-bottom {
    &--none {
        margin-bottom: 0;
    }

    &--sm {
        margin-bottom: 1.25rem;
    }

    &--md {
        margin-bottom: 2.5rem;
    }
    
    &--xl {
        margin-bottom: 8rem;
    }
}

.p-top {
    &--none {
        padding-top: 0;
    }

    &--md {
        padding-top: 2.5rem;
    }

    &--big {
        padding-top: 40rem !important;
    }
}

.w-75 {
    width: 75%;

    &--flexible {
        width: 75%;

        @include respond($pho-lg) {
            width: 100%;
        }
    }
}

.uppercase {
    text-transform: uppercase;
}

.link {
    &--plain { text-decoration: none; color: currentColor; }
}