.is-hidden {
    display: none;

    &--opac {
        opacity: 0;
    }
}

.fixed {

    &--top {
        position: fixed;
        top: 0;
    }
}

.m-top {
    &--none {
        margin-top: 0;
    }

    &--sm {
        margin-top: 12rem;
    }

    &--md {
        margin-top: 2.5rem !important;
    }

    &--lg {
        margin-top: 7.5rem !important;
    }
}

.m-bottom {
    &--none {
        margin-bottom: 0;
    }

    &--md {
        margin-bottom: 2.5rem;
    }
}

.p-top {
    &--none {
        padding-top: 0;
    }

    &--md {
        padding-top: 2.5rem;
    }

    &--big {
        padding-top: 40rem !important;
    }
}

.w-75 {
    width: 75%;
}