#blog {
    background-color: #fff;
    width: 85%;

    @media (max-width: $break-lg) {
        width: 90%;
    } 

    @media(max-width: $break-tab-lg) {
        width: 100%;
    }

    @media (max-width: $break-sm) {
        margin: 0;
        padding: 0;
    }

    @media (max-width: $break-tab-xl) {
        margin-top: 0 !important;
    }

    @media (max-width: $break-sm) {
        padding: 0 !important;
    }
}

.blog {
    box-shadow: 0 0 31px -12px rgba($off-black, 0.4);
    margin-bottom: 45px;

    @media (max-width: $break-sm) {
        box-shadow: none;
    }

    &__image {
        height: 425px;
        object-fit: cover;
        width: 100%;
    }

    &__body {
        padding: 25px 35px;

        p { line-height: 1.6; font-size: 18px; }
    }

    &__heading {
        font-weight: 600;
        font-size: 1.5em;
    }

    &__date {
        color: darken($off-white, 25%);
        font-size: 14px !important;
        padding: 10px 0 5px 0;
    }

    &__text {
        line-height: 1.6;

        p { font-size: 18px; line-height: 1.6; }
    }
}