.alert {
    background: $color-white;
    border: 1px solid darken($color-white, 20%);
    border-radius: 8px;
    bottom: 0;
    box-shadow: 0 0 900px 5000px rgba($color-black, .6);
    color: $color-primary;
    height: fit-content;
    left: 0;
    margin: auto;
    padding: 15px 25px;
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    z-index: 99;

    &--success {
        background: $color-secondary;
        opacity: 0.7;

        p {color: $color-white !important;}
    }

    &--failure {
        // background: $negative;
        // border-color: darken($negative, 20%);
    }
}