// Badge
.badge {
    background-color: $color-secondary;
    border: 1px solid $color-secondary;
    border-radius: 5px;
    color: #fff;
    line-height: 3.5;
    padding: 11px;
    transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
  }
  
  .badge:hover {
    background-color: $color-white;
    border: 1px solid $color-secondary;
    color: $color-secondary;
    cursor: pointer;
  }
  // End Badge