.form {

    &__group {
        float: left;
        width: 50%;
    }

    &__hr {
        border: 0;
        border-bottom: 1px solid $color-grey-light-1;
        padding: 0 0 2rem 0;
        position: relative;
        right: 3rem;
        width: calc(100% + 3rem);

        @include respond($pho-lg) {
            right: 1.5rem;
            width: calc(100% + 1.5rem);
        }
    }
    

    &__input {
        border: 0;
        border-bottom: 1px solid $color-grey-light-2;
        font-size: $font-size-default;
        height: 36px;
        width: 100%;

        &--half-one {
            position: relative;
            right: 3rem;

            @include respond($pho-lg) {
                right: 1.5rem;
            }
        }

        &--textarea {
            height: auto;
            font-family: $font-primary;
            margin-top: 3.5rem;
            position: relative;
            right: 3rem;
            width: calc(100% + 3rem);

            @include respond($pho-lg) {
                right: 1.5rem;
                width: calc(100% + 1.5rem);
            }
        }

        &:focus,
        &:active {
            border-bottom: 1px solid $color-grey-dark-2;
            outline: none;
        }

        &:focus:invalid {
            border-bottom: 1px solid $color-primary;
        }


        &:valid {
            border-bottom: 1px solid $color-green-dark-1;
        }
    }

    &__label {
        display: block;
        font-size: 1.4rem;
        padding-top: .75rem;
        transition: all .4s;

        &--offset {
            position: relative;
            right: 3rem;
        }
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        transform: translateY(-4rem);
        visibility: hidden;
    }

    
}
.form__input--textarea:placeholder-shown ~ .btn {
    top: 0rem;
}