@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,900);/*
  Author: Blaze Rowland
  Description: Admin.scss (admin css) for Portfolio
  Date: February 22nd, 2018
*/

strong,
b {
  font-weight: 600;
}

i {
  font-style: italic;
}

table {
  background: #fff;
  border-collapse: separate;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.4);
}

table tr {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

table tr:hover {
  -webkit-box-shadow: 0 5px 7px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 7px -6px rgba(0, 0, 0, 0.4);
}

table tr th,
table tr td {
  padding: 20px 45px;
}

@media (max-width: 768px), (max-width: 992px) {
  table tr th,
  table tr td {
    padding: 10px;
  }
}

table tr th a,
table tr td a {
  color: inherit;
  text-decoration: none;
}

table tr th {
  background: #343044;
  border-bottom: 1px solid #575757;
  color: #fff;
  font-weight: 600;
  text-align: left;
}

table tr td {
  border-bottom: 1px solid #625a80;
  color: #242424;
}

table tr td:first-child {
  font-weight: 600;
}

table tr .num {
  width: 57px;
  padding: 20px 0 20px 45px;
}

.btn {
  background-color: #2fcff2;
  border: 1px solid #2fcff2;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: .9em;
  padding: 8px 20px;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn:hover {
  background-color: #fff;
  color: #2fcff2;
}

.btn-cta {
  font-size: 1.2em;
  padding: 10px 30px;
}

.btn-admin {
  background: #343044;
  border-color: #343044;
}

.btn-admin:hover {
  color: #343044;
}

.btn-negative {
  background: #8c3737;
  border-color: #8c3737;
}

.btn-negative:hover {
  color: #8c3737;
}

.btn-cta {
  font-size: 1.2em;
  padding: 10px 30px;
}

.btn-sm {
  font-size: .9em;
  padding: 5px 8px;
}

.btn-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  background: #fafafa;
  font-family: "Raleway", sans-serif !important;
}

h1 {
  font-size: 1.8em !important;
  font-weight: 400 !important;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
}

.float-right {
  float: right;
}

.admin-nav-btn {
  border: 0;
  background: none;
  padding: 0;
  font-size: inherit;
}

.ql-container.ql-snow {
  font-size: .9em;
  font-weight: 400;
  height: 250px;
  line-height: 1.5;
}

.back-button {
  font-size: 1.4em;
  margin: 25px 45px;
}

.back-button a {
  color: #2fcff2;
}

@media (max-width: 768px) {
  .back-button {
    margin: 25px 5px;
  }
}

#container {
  width: 100%;
  margin-bottom: 25px;
}

.container {
  margin: 25px auto 0 auto;
  width: 70%;
}

.container--nav {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    margin: 25px 0 0 0;
    width: 100%;
  }
}

.container--blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .container--blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container--blog {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav-left {
  background-color: #343044;
  color: #fafafa;
  margin-top: -25px;
  position: fixed;
  height: 100%;
  width: 7em;
}

@media (max-width: 768px), (max-width: 992px) {
  .nav-left {
    width: 4em;
  }
}

.nav-left .links {
  font-size: 1.4em;
  text-align: center;
}

.nav-left .links a {
  color: inherit;
}

.nav-left .links a li {
  border-bottom: 1px solid #3e3a4e;
  padding: 30px 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav-left .links a li:hover {
  opacity: 0.5;
}

.badge {
  background-color: #2fcff2;
  border: 1px solid #2fcff2;
  border-radius: 5px;
  color: #fff;
  line-height: 3;
  padding: 11px;
  transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}

.badge:hover {
  background-color: #fafafa;
  border: 1px solid #2fcff2;
  color: #2fcff2;
  cursor: pointer;
}

.card {
  background: #fff;
  -webkit-box-shadow: 0 1px 5px -3px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 5px -3px rgba(0, 0, 0, 0.7);
  padding: 0;
  position: relative;
  height: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 100%;
}

@media (max-width: 768px) {
  .card {
    width: 100% !important;
  }
}

.card:hover {
  -webkit-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.7);
}

.card .type {
  background: #343044;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 25px;
  width: 100%;
}

.card .type .fa {
  padding: 50px 0;
  margin-left: -25px;
}

@media (max-width: 768px) {
  .card .type {
    font-size: 1.4em;
    padding: 15px 0;
  }

  .card .type .fa {
    display: none;
  }
}

.card .img {
  -o-object-fit: cover;
     object-fit: cover;
}

.card .img a {
  text-decoration: none;
}

.card .img .top {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.7);
  height: 220px;
  width: 100%;
}

.card .img span {
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
  padding-right: 20px;
  line-height: 1.5;
  position: relative;
  left: 25px;
  text-shadow: 0 0 5px black;
  top: -195px;
}

.card .body {
  padding-bottom: 50px;
  margin: 0 25px;
}

.card .body .title {
  display: inline;
  margin: 15px 0;
}

@media (max-width: 768px) {
  .card .body .title {
    display: block;
  }
}

.card .body .title a {
  color: inherit;
  text-decoration: none;
}

.card .body .title .fa {
  color: #343044;
}

.card .body pre {
  color: #3e3d3d;
  display: inline;
  font-size: .8em;
}

@media (max-width: 768px) {
  .card .body pre i {
    display: none;
  }
}

@media (max-width: 768px) {
  .card .body pre {
    display: block;
    margin: 15px 0;
    float: none;
  }
}

.card .body .text {
  font-size: .9em;
  line-height: 1.5;
  margin: 15px 0 25px 0;
}

.card .body .btn {
  font-size: .9em;
  margin-left: 0;
  position: absolute;
  bottom: 25px;
}

.card .no-btn {
  padding-bottom: 0;
}

.card.alone {
  height: auto;
  width: 450px;
}

.card.full {
  width: 100%;
  height: auto;
}

.card.full .img .top {
  height: 450px;
}

.card.full .img span {
  top: -400px;
}

.title-banner span {
  background: rgba(0, 0, 0, 0.56);
  padding: 10px;
}

@media (max-width: 768px) {
  .title-banner span {
    line-height: 2.37 !important;
    left: 13px !important;
    top: -204px !important;
  }
}

.card-grid {
  display: grid;
  grid-template-areas: 'card card card';
  grid-template-columns: repeat 3, 1fr;
  grid-gap: 35px 25px;
}

@media (max-width: 1200px), (max-width: 1650px) {
  .card-grid {
    grid-template-areas: 'card card';
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px), (max-width: 992px) {
  .card-grid {
    grid-template-areas: 'card';
    grid-template-columns: 1fr;
  }
}

.card-grid .card {
  grid-area: 'card';
}

@media (max-width: 768px), (max-width: 992px), (max-width: 1200px), (max-width: 1650px) {
  .card-grid .card {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .not-logged #container #admin {
    margin-left: calc(-15% - 10px);
  }

  .not-logged #container #admin .header-aside {
    margin-left: 0;
  }

  .not-logged #container #admin .card-grid {
    width: 115%;
  }
}

@media (min-width: 992px), (min-width: 1200px) {
  .not-logged #container #admin .card-grid {
    width: 200%;
  }
}

@media (min-width: 1650px) {
  .not-logged #container #admin .card-grid {
    width: 100%;
  }
}

#cover {
  background: #fff;
  font-size: .8em;
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 99999;
}

#cover .loader {
  -webkit-animation: loader 1.3s ease infinite;
          animation: loader 1.3s ease infinite;
  border: 5px solid #fafafa;
  border-radius: 50%;
  border-top: 5px solid #2fcff2;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: calc(25% - 80px);
  width: 80px;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#create-form,
#admin {
  color: #343044;
}

@media (max-width: 768px) {
  #create-form,
  #admin {
    margin-left: 50px;
  }
}

#create-form .create-grid,
#admin .create-grid {
  display: grid;
  grid-template-areas: 'post sidebar';
  grid-template-columns: 3fr 1fr;
  grid-gap: 50px;
}

@media (max-width: 768px) {
  #create-form .create-grid,
  #admin .create-grid {
    grid-template-areas: 'post' 'sidebar';
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

#create-form .create-grid .create-form,
#admin .create-grid .create-form {
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 15px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px -6px rgba(0, 0, 0, 0.4);
  grid-area: 'post';
}

#create-form .create-grid .create-form form,
#admin .create-grid .create-form form {
  padding: 25px 20px;
}

#create-form .create-grid .create-form form .form-group,
#admin .create-grid .create-form form .form-group {
  padding: 15px 0;
}

#create-form .create-grid .create-form form .form-group .radio,
#admin .create-grid .create-form form .form-group .radio {
  font-size: 1em;
  padding: 10px 0;
}

#create-form .create-grid .create-form form .form-group .radio input,
#admin .create-grid .create-form form .form-group .radio input {
  display: inline-block !important;
  margin: 0 7px;
  width: auto !important;
}

#create-form .create-grid .create-form form .form-group label,
#admin .create-grid .create-form form .form-group label {
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

#create-form .create-grid .create-form form .form-group input,
#create-form .create-grid .create-form form .form-group textarea,
#create-form .create-grid .create-form form .form-group select,
#admin .create-grid .create-form form .form-group input,
#admin .create-grid .create-form form .form-group textarea,
#admin .create-grid .create-form form .form-group select {
  -webkit-box-shadow: inset 0 0 11px -8px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 11px -8px rgba(0, 0, 0, 0.4);
  background: #fafafa;
  border: 0;
  line-height: 1.4;
  padding: 6px 0 6px 6px;
  width: 100%;
}

#create-form .create-grid .create-form form .form-group input,
#admin .create-grid .create-form form .form-group input {
  font-size: 1.2em;
}

#create-form .create-grid .create-form form .form-group textarea,
#admin .create-grid .create-form form .form-group textarea {
  font-family: "Raleway", sans-serif !important;
  line-height: 1.5;
}

#create-form .create-grid .create-form form .form-group select,
#admin .create-grid .create-form form .form-group select {
  font-size: 1em;
  padding: 8px 8px;
}

#create-form .create-grid .sidebar,
#admin .create-grid .sidebar {
  background: #fff;
  height: calc(16px + .9em) !important;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 15px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px -6px rgba(0, 0, 0, 0.4);
  padding: 30px 20px;
  grid-area: 'sidebar';
}

#create-form .create-grid .sidebar .btn,
#admin .create-grid .sidebar .btn {
  width: 100%;
}

.sidebar {
  background-color: #fff;
  -webkit-box-shadow: 0 0 16px -8px rgba(36, 36, 36, 0.4);
          box-shadow: 0 0 16px -8px rgba(36, 36, 36, 0.4);
  height: 100%;
  margin-left: 40px;
  padding: 25px 15px;
  width: 20%;
}

@media (max-width: 768px) {
  .sidebar {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .sidebar {
    margin-left: 0;
    text-align: center;
    width: calc(100% - 30px) !important;
  }
}

.sidebar__heading {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 30px;
}

.sidebar__list {
  list-style: disc;
}

@media (max-width: 992px) {
  .sidebar__list {
    list-style: none;
  }
}

.sidebar__item {
  line-height: 1.4;
  margin-left: 40px;
}

@media (max-width: 1100px) {
  .sidebar__item {
    font-size: .9em;
    margin-left: 15px;
  }
}

@media (max-width: 992px) {
  .sidebar__item {
    margin-left: 0;
  }
}

.sidebar__item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.sidebar__link {
  color: #2fcff2;
  text-decoration: none;
}

.intermit-hr {
  border: .3px solid #e6e6e6;
  margin: 75px auto;
  width: 75%;
}

.m-25 {
  margin: 25px 0 0 0;
}

.m-50 {
  margin: 50px 0 0 0;
}

.ml-25 {
  margin-left: 25px;
}

.p-25 {
  padding: 25px;
}

.center {
  margin: 0 auto;
}

.lead {
  font-size: 1.1em;
}

.pull-right {
  float: right;
}

.upper {
  text-transform: uppercase;
}

.hide {
  display: none;
}

.inline {
  display: inline;
}

.text-center {
  text-align: center;
}

.positive {
  color: #4d8c37;
}

.negative {
  color: #8c3737;
}

.full-width {
  width: 100%;
}

.shadow {
  -webkit-box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.4);
}

.admin-form {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: ". form form ." ". form form ." ". errors errors .";
}

.admin-form form {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #fefefe;
  -webkit-box-shadow: 0 0 37px -11px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 37px -11px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  grid-area: 'form';
  height: auto;
  margin-top: 100px;
  padding: 0 55px 45px 55px;
  justify-self: center;
  width: 330px;
}

.admin-form form a {
  color: #0ebae0;
  text-decoration: none;
}

.admin-form form .top {
  height: 120px;
  margin: 0 0 45px -55px;
  width: calc(100% + 110px);
}

.admin-form form .top .form-img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.admin-form form .top h1 {
  color: white;
  position: relative;
  margin-top: -80px;
  z-index: 9999;
}

.admin-form form .name,
.admin-form form .email,
.admin-form form .password,
.admin-form form .btn-submit {
  border: 1px solid #2fcff2;
  border-radius: 3px;
  line-height: 1.9;
  margin: 8px 0 20px 0;
  padding: 5px 5px;
  width: 100%;
}

.admin-form form .email {
  display: block;
}

.admin-form form .password {
  display: block;
}

.admin-form form .btn-submit {
  background: #2fcff2;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.4;
  margin: 15px 0 20px 0;
  padding: 8px;
}

.admin-form form label {
  display: inline;
}

.admin-form form label .check {
  display: inline;
}

.errors .form-error {
  grid-area: 'errors';
  color: red;
  padding: 25px 10px;
  width: 100%;
  text-align: center;
}

.errors .form-error:nth-child(n) {
  background-color: rgba(255, 180, 180, 0.5);
  border: 1px solid red;
  border-radius: 5px;
  margin: 35px auto;
  width: 20%;
}

.errors .form-error:nth-child(2n) {
  margin: -10px auto;
}

#blog {
  background-color: #fff;
  width: 85%;
}

@media (max-width: 1200px) {
  #blog {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  #blog {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #blog {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 1250px) {
  #blog {
    margin-top: 0 !important;
  }
}

@media (max-width: 768px) {
  #blog {
    padding: 0 !important;
  }
}

.blog {
  -webkit-box-shadow: 0 0 31px -12px rgba(36, 36, 36, 0.4);
          box-shadow: 0 0 31px -12px rgba(36, 36, 36, 0.4);
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .blog {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.blog__image {
  height: 425px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.blog__body {
  padding: 25px 35px;
}

.blog__heading {
  font-weight: 600;
  font-size: 1.5em;
}

.blog__date {
  color: #bababa;
  font-size: 14px;
  padding: 10px 0 5px 0;
}

.blog__text {
  line-height: 1.5;
}

#admin h1,
#create-form h1 {
  margin: 25px 0;
}

#admin .header-aside,
#create-form .header-aside {
  color: #575757;
  display: inline;
  font-size: .8em;
  line-height: 3;
  margin-left: 25px;
}

#admin .header-aside a,
#create-form .header-aside a {
  color: inherit;
  text-decoration: none;
}

#container {
  margin: 25px auto 0 auto;
  width: 70%;
}

#container #top-dash {
  margin: 25px 0;
}

#container #top-dash h1 {
  display: inline;
  line-height: 1.5;
  font-weight: 500;
}

@media (max-width: 768px), (max-width: 992px) {
  #container #top-dash h1 {
    margin-left: 50px;
  }
}

#container #top-dash pre {
  display: inline;
  line-height: 3;
  color: #3e3d3d;
}

@media (max-width: 768px) {
  #container #top-dash pre {
    display: none;
  }
}

#container #top-dash .quick-info {
  display: grid;
  grid-template-areas: 'income expense clients projects';
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin: 35px 0;
}

#container #top-dash .quick-info a {
  text-decoration: none;
}

@media (max-width: 768px), (max-width: 992px) {
  #container #top-dash .quick-info {
    margin-left: 50px;
    grid-template-areas: 'income' 'expense' 'clients' 'projects';
    grid-template-columns: 1fr;
  }
}

#container #top-dash .quick-info li {
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 11.3px -8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 11.3px -8px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'icon info';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#container #top-dash .quick-info li:hover {
  -webkit-box-shadow: 0 0 14px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 14px -6px rgba(0, 0, 0, 0.5);
}

#container #top-dash .quick-info li:hover .aside-icon {
  -webkit-box-shadow: 8px 0px 14px -14px rgba(0, 0, 0, 0.75);
          box-shadow: 8px 0px 14px -14px rgba(0, 0, 0, 0.75);
}

#container #top-dash .quick-info li .aside-icon {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: white;
  font-size: 1.9em;
  grid-area: 'icon';
  padding: 40px 25px;
  -webkit-box-shadow: 10px 0px 10px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 0px 10px -17px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#container #top-dash .quick-info li .info {
  grid-area: 'info';
  margin: 25px 15px 25px 5px;
}

#container #top-dash .quick-info li .info p {
  color: #4a4a4a;
  padding: 10px 0;
}

#container #top-dash .quick-info li .info .info-income {
  color: #58BCDC;
}

#container #top-dash .quick-info li .info .info-expense {
  color: #FE8663;
}

#container #top-dash .quick-info li .info .info-clients {
  color: #B198DC;
}

#container #top-dash .quick-info li .info .info-projects {
  color: #6CC7BE;
}

#container #top-dash .quick-info .income,
#container #top-dash .quick-info .expense,
#container #top-dash .quick-info .clients,
#container #top-dash .quick-info .projects {
  color: white;
  display: inline-block;
  font-size: 1.9em;
  padding: 40px 25px;
}

#container #top-dash .quick-info .income {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#58BCDC), to(#56BDDC));
  background-image: linear-gradient(to top, #58BCDC 0%, #56BDDC 100%);
  grid-area: 'income';
}

#container #top-dash .quick-info .expense {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FE8663), to(#FF875E));
  background-image: linear-gradient(to top, #FE8663 0%, #FF875E 100%);
  grid-area: 'expense';
}

#container #top-dash .quick-info .clients {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#B198DC), to(#B299DD));
  background-image: linear-gradient(to top, #B198DC 0%, #B299DD 100%);
  grid-area: 'clients';
}

#container #top-dash .quick-info .projects {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6CC7BE), to(#6BC8BE));
  background-image: linear-gradient(to top, #6CC7BE 0%, #6BC8BE 100%);
  grid-area: 'projects';
}

#container #analytics-1 {
  display: grid;
  grid-gap: 15px 25px;
  grid-template-areas: 'main side1';
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px), (max-width: 992px) {
  #container #analytics-1 {
    grid-template-areas: 'main' 'side1';
    grid-template-columns: 1fr;
    margin-left: 50px;
  }
}

#container #analytics-1 .main,
#container #analytics-1 .side-1 {
  background: #fff;
  -webkit-box-shadow: 0 0 11.3px -8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 11.3px -8px rgba(0, 0, 0, 0.4);
  padding: 15px 15px;
}

#container #analytics-1 .main {
  grid-area: main;
}

#container #analytics-1 .side-1 {
  grid-area: side1;
}

#container #analytics-2 {
  display: grid;
  grid-template-areas: 'side1 side2';
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  margin: 40px 0;
}

@media (max-width: 768px), (max-width: 992px) {
  #container #analytics-2 {
    margin-left: 50px;
    grid-template-areas: 'side1' 'side2';
    grid-template-columns: 1fr;
  }
}

#container #analytics-2 .side-1,
#container #analytics-2 .side-2 {
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 11.3px -8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 11.3px -8px rgba(0, 0, 0, 0.4);
  padding: 15px 15px;
}

#container #analytics-2 .side-1 img,
#container #analytics-2 .side-2 img {
  -o-object-fit: cover;
     object-fit: cover;
}

#container #analytics-2 .side-1 {
  grid-area: side1;
  grid-row-end: span 1;
  padding: 25px 25px;
}

#container #analytics-2 .side-1 h2 {
  font-size: 1.4em;
  font-weight: 600;
  margin: 15px 25px 0 25px;
}

#container #analytics-2 .side-1 h2 span {
  font-size: .6em;
  font-weight: normal;
}

#container #analytics-2 .side-1 .project {
  padding: 25px 25px;
}

#container #analytics-2 .side-1 .project .title h3 {
  font-size: 1.2em;
  font-weight: 500;
}

#container #analytics-2 .side-1 .project .body {
  font-size: .9em;
  line-height: 1.6;
  margin: 10px 0 25px 0;
}

#container #analytics-2 .side-2 {
  grid-area: side2;
  grid-row-end: span 2;
  padding: 0;
}

#blog {
  display: grid;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 1250px) {
  #blog {
    margin-top: -25rem;
  }
}

@media only screen and (max-width: 768px) {
  #blog {
    -webkit-clip-path: none;
            clip-path: none;
    margin-top: 0;
    padding: 10rem 5rem;
  }
}

