/*
  Author: Blaze Rowland
  Description: App.scss (main css) for Portfolio
  Date: February 15th, 2018
*/

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1350px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 1150px) {
  html {
    font-size: 52%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #FF6138;
  color: #ffffff;
}

::selection {
  background-color: #FF6138;
  color: #ffffff;
}

body {
  color: #262626;
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.heading-primary {
  font-size: 6rem;
}

.heading-primary--main {
  color: #ffffff;
  font-size: 7rem;
  text-transform: capitalize;
}

.heading-secondary {
  font-size: 4rem;
}

.heading-secondary--blog {
  color: #00baeb;
}

.heading-secondary--work {
  color: #79BD8F;
}

.heading-tertiary {
  font-size: 3rem;
}

.heading-tertiary--about {
  color: #FF6138;
  margin-bottom: 1.8rem;
}

.heading-tertiary--work {
  color: #79BD8F;
}

.heading-tertiary--blog {
  color: #00baeb;
}

.heading-tertiary--contact {
  color: #FF6138;
  margin-bottom: 1.8rem;
}

.heading-quaternary {
  font-size: 2.2rem;
}

.heading-quaternary--about {
  color: #FF6138;
  margin-bottom: 1rem;
}

.heading-quaternary--blog {
  color: #00baeb;
}

.heading-quaternary--contact {
  color: #00baeb;
}

.heading-quaternary--work {
  color: #79BD8F;
}

.heading-quinary {
  font-size: 1.9rem;
  font-weight: 400;
}

.heading-quinary--about {
  color: #4c4c4c;
}

.paragraph {
  color: #5e5e5e;
  font-size: 1.8rem;
  line-height: 1.8;
}

.fromLeft {
  -webkit-animation-name: fromLeft;
          animation-name: fromLeft;
  -webkit-animation-timing-function: cubic-bezier(0.75, 0.2, 0.27, 1.38);
          animation-timing-function: cubic-bezier(0.75, 0.2, 0.27, 1.38);
}

.fromTop {
  -webkit-animation-name: fromTop;
          animation-name: fromTop;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fromLeft {
  0% {
    right: 100%;
  }

  100% {
    right: 0%;
  }
}

@keyframes fromLeft {
  0% {
    right: 100%;
  }

  100% {
    right: 0%;
  }
}

@-webkit-keyframes fromTop {
  0% {
    top: -20%;
  }

  100% {
    top: 0%;
  }
}

@keyframes fromTop {
  0% {
    top: -20%;
  }

  100% {
    top: 0%;
  }
}

.is-hidden {
  display: none !important;
}

.is-hidden--opac {
  opacity: 0;
}

@media (max-width: 705px) {
  .is-hidden--mobile {
    display: none;
  }
}

@media (min-width: 705px) {
  .is-hidden--desktop {
    display: none;
  }
}

.fixed--top {
  position: fixed !important;
  top: 0;
}

.m-top--none {
  margin-top: 0;
}

.m-top--sm {
  margin-top: 12rem;
}

.m-top--md {
  margin-top: 2.5rem !important;
}

.m-top--lg {
  margin-top: 7.5rem !important;
}

.m-top--xl {
  margin-top: 10rem !important;
}

.m-bottom--none {
  margin-bottom: 0;
}

.m-bottom--sm {
  margin-bottom: 1.25rem;
}

.m-bottom--md {
  margin-bottom: 2.5rem;
}

.m-bottom--xl {
  margin-bottom: 8rem;
}

.p-top--none {
  padding-top: 0;
}

.p-top--md {
  padding-top: 2.5rem;
}

.p-top--big {
  padding-top: 40rem !important;
}

.w-75 {
  width: 75%;
}

.w-75--flexible {
  width: 75%;
}

@media only screen and (max-width: 414px) {
  .w-75--flexible {
    width: 100%;
  }
}

.uppercase {
  text-transform: uppercase;
}

.link--plain {
  text-decoration: none;
  color: currentColor;
}

.btn {
  background-color: transparent;
  border: 1px solid #262626;
  border-radius: .5rem;
  color: #262626;
  cursor: pointer;
  font-size: 1.7rem;
  font-family: "Muli", sans-serif;
  padding: 1rem 2.2rem;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  background-color: #262626;
  color: #ffffff;
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
}

.btn:focus,
.btn:active {
  outline: none;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

.btn--primary {
  border-color: #FF6138;
  color: #FF6138;
}

.btn--primary:hover {
  background-color: #FF6138;
}

.btn--secondary {
  border-color: #00baeb;
  color: #00baeb;
}

.btn--secondary:hover {
  background-color: #00baeb;
}

.btn--tertiary {
  border-color: #79BD8F;
  color: #79BD8F;
}

.btn--tertiary:hover {
  background-color: #79BD8F;
}

.btn--form {
  position: relative;
  right: 3rem;
  top: 3rem;
}

@media only screen and (max-width: 768px) {
  .btn--form {
    display: block;
    width: calc(100% + 3rem);
  }
}

@media only screen and (max-width: 414px) {
  .btn--form {
    right: 1.5rem;
    width: calc(100% + 1.5rem);
  }
}

.badge {
  background-color: #00baeb;
  border: 1px solid #00baeb;
  border-radius: 5px;
  color: #fff;
  line-height: 3.5;
  padding: 11px;
  transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}

.badge:hover {
  background-color: #ffffff;
  border: 1px solid #00baeb;
  color: #00baeb;
  cursor: pointer;
}

.scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10rem;
}

@media only screen and (max-width: 768px) {
  .scroller {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.scroller__box {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-columns: -webkit-min-content minmax(28rem, -webkit-min-content);
  grid-template-columns: min-content minmax(28rem, min-content);
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media only screen and (max-width: 1024px) {
  .scroller__box {
    grid-template-columns: -webkit-min-content minmax(22rem, -webkit-min-content);
    grid-template-columns: min-content minmax(22rem, min-content);
  }
}

@media only screen and (max-width: 768px) {
  .scroller__box {
    grid-template-columns: -webkit-min-content minmax(50rem, -webkit-min-content);
    grid-template-columns: min-content minmax(50rem, min-content);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 414px) {
  .scroller__box {
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    justify-items: center;
  }
}

.scroller__box:not(:last-child) {
  margin-right: 9rem;
}

@media only screen and (max-width: 1024px) {
  .scroller__box:not(:last-child) {
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .scroller__box:not(:last-child) {
    border-bottom: 1px solid #bfbfbf;
    margin-right: auto;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 414px) {
  .scroller__box:not(:last-child) {
    margin-bottom: 6rem;
  }
}

.scroller__box:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.scroller__icon {
  fill: #00baeb;
  grid-column: 1;
  height: 4rem;
  position: relative;
  top: 1.2rem;
  width: 4rem;
}

@media only screen and (max-width: 768px) {
  .scroller__icon {
    top: 4rem;
    right: 2rem;
  }
}

@media only screen and (max-width: 414px) {
  .scroller__icon {
    grid-column: 1;
    position: static;
  }
}

.scroller__heading {
  -ms-flex-item-align: end;
      align-self: end;
  grid-column: 2 / -1;
}

@media only screen and (max-width: 414px) {
  .scroller__heading {
    grid-column: 1;
  }
}

.scroller__text {
  font-size: 1.6rem;
  grid-column: 2 / -1;
  line-height: 1.6;
  word-wrap: break-word;
}

@media only screen and (max-width: 768px) {
  .scroller__text:not(:last-child) {
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 414px) {
  .scroller__text {
    grid-column: 1;
    text-align: center;
  }

  .scroller__text:not(:last-child) {
    padding-bottom: 3rem;
  }
}

.form__group {
  float: left;
  width: 50%;
}

.form__hr {
  border: 0;
  border-bottom: 1px solid #ededed;
  padding: 0 0 2rem 0;
  position: relative;
  right: 3rem;
  width: calc(100% + 3rem);
}

@media only screen and (max-width: 414px) {
  .form__hr {
    right: 1.5rem;
    width: calc(100% + 1.5rem);
  }
}

.form__input {
  border: 0;
  border-bottom: 1px solid #bfbfbf;
  font-size: 1.6rem;
  height: 36px;
  width: 100%;
}

.form__input--half-one {
  position: relative;
  right: 3rem;
}

@media only screen and (max-width: 414px) {
  .form__input--half-one {
    right: 1.5rem;
  }
}

.form__input--textarea {
  height: auto;
  font-family: "Muli", sans-serif;
  margin-top: 3.5rem;
  position: relative;
  right: 3rem;
  width: calc(100% + 3rem);
}

@media only screen and (max-width: 414px) {
  .form__input--textarea {
    right: 1.5rem;
    width: calc(100% + 1.5rem);
  }
}

.form__input:focus,
.form__input:active {
  border-bottom: 1px solid #5e5e5e;
  outline: none;
}

.form__input:focus:invalid {
  border-bottom: 1px solid #FF6138;
}

.form__input:valid {
  border-bottom: 1px solid #00A388;
}

.form__label {
  display: block;
  font-size: 1.4rem;
  padding-top: .75rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form__label--offset {
  position: relative;
  right: 3rem;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
  visibility: hidden;
}

.form__input--textarea:placeholder-shown ~ .btn {
  top: 0rem;
}

.table {
  border-collapse: collapse;
  text-align: right;
}

.table tr,
.table th,
.table td {
  padding: 1rem;
}

.table .table__head--primary {
  color: #FF6138;
}

.table .table__head--secondary {
  color: #00baeb;
}

.table th {
  font-size: 2.2rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.table td {
  font-size: 1.7rem;
  padding-left: 2.4rem;
  text-align: center;
}

.table td:first-of-type {
  padding-left: 4rem;
}

.container {
  margin: 0 auto;
  width: 120rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

.container--full {
  width: 100%;
}

.container--blog {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

@media only screen and (max-width: 414px) {
  .container--blog-header {
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .container--blog {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .container--blog {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

@media only screen and (max-width: 705px) {
  .container--blog {
    grid-gap: 2rem;
    margin-left: -1.5rem;
  }
}

@media only screen and (max-width: 414px) {
  .container--blog {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media only screen and (max-width: 414px) {
  .container--contact {
    position: relative;
    left: 1rem;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.5rem;
}

@media only screen and (max-width: 768px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-container--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container p {
  font-size: 1.8rem;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.flex-column:not(:last-of-type) {
  margin-right: 5rem;
  margin-bottom: 2.5rem;
}

.flex-column--flexible:only-child {
  width: 60%;
}

@media only screen and (max-width: 705px) {
  .flex-column--flexible:only-child {
    width: 100%;
  }
}

#header {
  background-color: #FF6138;
  background-image: linear-gradient(145deg, rgba(255, 97, 56, 0.75) 0%, rgba(0, 186, 235, 0.75) 100%), url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: ellipse(81% 86% at 50% 14%);
          clip-path: ellipse(81% 86% at 50% 14%);
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  width: 100vw;
  z-index: 5;
}

@media only screen and (max-width: 1024px) {
  #header {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.header__content {
  position: relative;
  top: 30%;
  left: 1%;
  -webkit-transform: translate(17%, 40%);
          transform: translate(17%, 40%);
}

@media only screen and (max-width: 768px) {
  .header__content {
    -webkit-transform: translate(12%, 40%);
            transform: translate(12%, 40%);
  }
}

@media only screen and (max-width: 414px) {
  .header__content {
    text-align: center;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media only screen and (max-width: 414px) {
  .social {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-13%, 45%);
            transform: translate(-13%, 45%);
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media only screen and (max-width: 414px) {
  .social__list {
    margin-left: -5rem;
  }
}

.social__item {
  display: inline-block;
}

.social__item:not(:last-child) {
  margin-right: 2rem;
}

.social__icon {
  fill: rgba(255, 255, 255, 0.75);
  height: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 2rem;
}

.social__icon:hover {
  fill: #1fd0ff;
  -webkit-transform: scale(1.2) translateY(-0.15rem);
          transform: scale(1.2) translateY(-0.15rem);
}

.about__box {
  display: table;
}

@media only screen and (max-width: 1024px) {
  .about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media only screen and (max-width: 414px) {
  .about__box {
    display: block;
  }
}

.about__img {
  -webkit-box-shadow: 0px 11px 60px -25px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 11px 60px -25px rgba(0, 0, 0, 0.4);
  display: table-cell;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 35rem;
}

@media only screen and (max-width: 768px) {
  .about__img {
    height: 30rem;
    width: 30rem;
  }
}

@media only screen and (max-width: 414px) {
  .about__img {
    display: none;
  }
}

.about__img:hover {
  -webkit-transform: translateY(-0.5rem) scale(1.1);
          transform: translateY(-0.5rem) scale(1.1);
}

.about__text {
  display: table-cell;
  vertical-align: middle;
  width: 58.9%;
}

@media only screen and (max-width: 1024px) {
  .about__text {
    margin-left: 6rem;
    width: 45%;
  }
}

@media only screen and (max-width: 414px) {
  .about__text {
    display: block;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
}

.work__box {
  max-width: 45rem;
}

@media only screen and (max-width: 414px) {
  .work__box {
    margin-left: -2.6rem;
  }
}

.work__projects {
  display: grid;
  grid-column-gap: 4.7rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 32rem);
  margin-top: 5rem;
}

@media only screen and (max-width: 1250px) {
  .work__projects {
    grid-row-gap: 4.7rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 32rem);
  }
}

@media only screen and (max-width: 768px) {
  .work__projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 32rem);
  }
}

@media only screen and (max-width: 414px) {
  .work__projects {
    grid-template-columns: 1fr;
    grid-template-rows: 8fr;
    margin: 5rem auto 0 auto;
    margin-left: -2.6rem;
  }
}

.work__img {
  -webkit-box-shadow: 0px 6px 50px -25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 50px -25px rgba(0, 0, 0, 0.2);
  height: 26.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 26.5rem;
  z-index: 1;
}

.work__img:hover {
  -webkit-box-shadow: 0px 9px 52px -27px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 9px 52px -27px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transform: scale(1.1) translateY(-15px);
          transform: scale(1.1) translateY(-15px);
  z-index: 2;
}

.work__img:active,
.work__img:focus {
  -webkit-box-shadow: 0px 6px 50px -25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 50px -25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transform: scale(1) translateY(5px) !important;
          transform: scale(1) translateY(5px) !important;
}

@media only screen and (max-width: 1250px) {
  .work__img {
    height: 32rem;
    width: 32rem;
  }
}

@media only screen and (max-width: 1150px) {
  .work__img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media only screen and (max-width: 705px) {
  .work__img {
    height: 26.5rem;
    width: 26.5rem;
  }
}

@media only screen and (max-width: 414px) {
  .work__img {
    display: none;
    height: 37.5rem;
    width: 37.5rem;
  }

  .work__img--important {
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  .work__img {
    height: 33.5rem;
    width: 33.5rem;
  }
}

@media only screen and (max-width: 360px) {
  .work__img {
    height: 31.5rem;
    width: 31.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .work__img {
    height: 27.5rem;
    width: 27.5rem;
  }
}

.work__img:hover ~ .work__text,
.work__text:hover,
.work__text:hover .work__img {
  opacity: 1 !important;
  -webkit-transform: scale(1.1) translateY(-15px);
          transform: scale(1.1) translateY(-15px);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  z-index: 3;
}

.work a {
  text-decoration: none;
}

.work__text {
  background-color: rgba(0, 140, 116, 0.8);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #ffffff;
  line-height: 2.5;
  opacity: 0 !important;
  padding: 1rem 2rem;
  position: relative;
  top: -11.5rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.blog__header {
  float: right;
  text-align: right;
  width: 35%;
}

@media only screen and (max-width: 768px) {
  .blog__header {
    width: 45%;
  }
}

@media only screen and (max-width: 705px) {
  .blog__header {
    margin-right: -3.5rem;
  }
}

@media only screen and (max-width: 414px) {
  .blog__header {
    -ms-flex-item-align: start;
        align-self: start;
    justify-self: start;
    float: none;
    margin: 0;
    margin-left: -1rem;
    text-align: left;
    width: 100%;
  }
}

.blog__box {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 11px 60px -25px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 11px 60px -25px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
  cursor: pointer;
  margin-top: 5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 38rem;
}

.blog__box a {
  color: currentColor;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .blog__box {
    width: 32rem;
  }
}

@media only screen and (max-width: 768px) {
  .blog__box {
    width: 34.5rem;
  }
}

@media only screen and (max-width: 414px) {
  .blog__box {
    width: 39rem;
  }
}

@media only screen and (max-width: 375px) {
  .blog__box {
    width: 35rem;
  }
}

@media only screen and (max-width: 360px) {
  .blog__box {
    width: 33rem;
  }
}

@media only screen and (max-width: 320px) {
  .blog__box {
    width: 28.5rem;
  }
}

.blog__box:hover {
  -webkit-box-shadow: 0px 11px 60px -25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 11px 60px -25px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-1.2rem) scale(1.02);
          transform: translateY(-1.2rem) scale(1.02);
}

.blog__box:active,
.blog__box:focus {
  -webkit-box-shadow: 0px 11px 60px -25px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 11px 60px -25px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(0rem) scale(1);
          transform: translateY(0rem) scale(1);
}

.blog__img {
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 38rem;
}

@media only screen and (max-width: 1024px) {
  .blog__img {
    height: 14rem;
    width: 32rem;
  }
}

@media only screen and (max-width: 768px) {
  .blog__img {
    height: 16.5rem;
    width: 34.5rem;
  }
}

@media only screen and (max-width: 414px) {
  .blog__img {
    height: 21rem;
    width: 39rem;
  }
}

@media only screen and (max-width: 375px) {
  .blog__img {
    height: 17rem;
    width: 35rem;
  }
}

@media only screen and (max-width: 360px) {
  .blog__img {
    height: 15rem;
    width: 33rem;
  }
}

@media only screen and (max-width: 320px) {
  .blog__img {
    height: 13.5rem;
    width: 28.5rem;
  }
}

.blog__inner {
  padding: .5rem 2rem 2rem 2rem;
}

.blog__date {
  color: #bfbfbf;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.blog__title {
  margin-bottom: 1.25rem;
}

.blog__snip {
  font-size: 1.7rem;
}

@media only screen and (max-width: 768px) {
  .contact__header {
    display: none;
  }
}

.contact__header--secondary {
  margin-bottom: 6rem;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .contact__header--secondary {
    margin-top: 15rem;
    text-align: center;
  }
}

.contact__list {
  list-style: none;
}

.contact__item {
  font-size: 1.6rem;
}

.contact__item:not(:last-child) {
  margin-bottom: 1.3rem;
}

.contact__form {
  float: right;
  position: relative;
  top: -7rem;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .contact__form {
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 414px) {
  .contact__form {
    width: 80%;
  }
}

.footer {
  text-align: center;
}

.footer__social {
  margin-bottom: 2rem;
  margin-left: -4rem;
}

.footer__social-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

@media only screen and (max-width: 414px) {
  .footer__social-list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.footer__social-item:not(:last-child) {
  margin-right: 2rem;
}

.footer__social-icon {
  fill: rgba(255, 255, 255, 0.75);
  height: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 2rem;
}

.footer__social-icon:hover {
  fill: #1fd0ff;
  -webkit-transform: scale(1.2) translateY(-0.15rem);
          transform: scale(1.2) translateY(-0.15rem);
}

.nav {
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 11px 60px -25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 11px 60px -25px rgba(0, 0, 0, 0.1);
  max-width: 100vw;
  position: relative;
  width: 100%;
  z-index: 999;
}

@media only screen and (max-width: 414px) {
  .nav {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.nav__list {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

@media only screen and (max-width: 1024px) {
  .nav__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.nav__item {
  padding: 2rem 0;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 10rem;
}

.nav__item:hover {
  background-color: #FF6138;
}

@media only screen and (max-width: 414px) {
  .nav__item {
    width: 7rem;
  }
}

.nav__link:hover {
  color: #ffffff;
}

.nav__link {
  color: #FF6138;
  font-size: 2rem;
  text-decoration: none;
}

@media only screen and (max-width: 414px) {
  .nav__link {
    font-size: 1.5rem;
  }
}

.portfolio__hero {
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100vw;
}

.portfolio .heading-primary {
  color: #ffffff;
  display: block;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 40%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

@media only screen and (max-width: 414px) {
  .portfolio .heading-primary {
    font-size: 4rem;
  }
}

.portfolio__body {
  margin-top: 5rem;
}

.portfolio__image--desktop {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.portfolio__image--full {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 29px -3px rgba(38, 38, 38, 0.3);
          box-shadow: 0 0 29px -3px rgba(38, 38, 38, 0.3);
  cursor: pointer;
  display: block;
  margin: 8rem auto 45px auto;
  width: 80vw;
}

@media only screen and (max-width: 705px) {
  .portfolio__image--full {
    border-radius: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 6rem;
    width: 100vw;
  }
}

.portfolio__image--active {
  height: 100%;
  width: 100%;
}

.portfolio hr {
  margin: 2rem 0;
  width: 80%;
}

#about {
  background-color: #ededed;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 0 85%);
  display: grid;
  margin-top: -28rem;
  padding: 35rem 0 30rem 0;
  position: relative;
  z-index: 4;
}

@media only screen and (max-width: 1024px) {
  #about {
    -webkit-clip-path: none;
            clip-path: none;
    margin-top: 0rem;
    padding: 10rem 5rem;
  }
}

@media only screen and (max-width: 414px) {
  #about {
    margin-top: 0;
    padding: 10rem 3rem;
  }
}

.about {
  margin-bottom: 20rem;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .about {
    margin-bottom: 0;
  }
}

#work {
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 20% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 20% 100%, 0 85%);
  margin-top: -22rem;
  position: relative;
  z-index: 3;
}

@media only screen and (max-width: 1024px) {
  #work {
    -webkit-clip-path: none;
            clip-path: none;
    margin-top: 5rem;
  }
}

.work {
  padding-bottom: 20rem;
}

@media only screen and (max-width: 1250px) {
  .work {
    padding-bottom: 32rem;
  }
}

@media only screen and (max-width: 1024px) {
  .work {
    padding-bottom: 10rem;
  }
}

@media only screen and (max-width: 768px) {
  .work {
    padding: 0 5rem 10rem 5rem;
  }
}

@media only screen and (max-width: 414px) {
  .work {
    padding-bottom: 0;
  }
}

#blog {
  background-color: #ededed;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 0 85%);
  display: grid;
  margin-top: -22rem;
  padding: 25rem 0;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 1250px) {
  #blog {
    margin-top: -25rem;
  }
}

@media only screen and (max-width: 768px) {
  #blog {
    -webkit-clip-path: none;
            clip-path: none;
    margin-top: 0;
    padding: 10rem 5rem;
  }
}

.blog {
  padding-bottom: 20rem;
}

#contact {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  #contact {
    margin-top: 6rem;
  }
}

.contact {
  padding-bottom: 10rem;
}

@media only screen and (max-width: 768px) {
  .contact {
    padding-bottom: 10rem;
  }
}

#footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FF6138;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100vw;
  width: 100vw;
}

#about--page {
  background-color: #ededed;
  padding-bottom: 10rem;
}

