// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,900");

// Typography
$font-family-sans-serif: "Raleway", sans-serif;

// Colors
$primary-color: rgba(47, 207, 242, 1);
$admin-primary: #343044;
$off-white: rgb(250, 250, 250);
$off-black: #242424;
$positive: rgb(77, 140, 55);
$negative: rgb(140, 55, 55);

// Media Queries
$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
$break-xl: 1650px;



// Helpers

strong, b {
  font-weight: 600;
}

i {
  font-style: italic;
}

.intermit-hr {
  border: .3px solid #e6e6e6;
  margin: 75px auto;
  width: 75%;
}

.m-25 {
  margin: 25px 0 0 0;
}

.m-50 {
  margin: 50px 0 0 0;
}

.ml-25 {
  margin-left: 25px;
}

.p-25 {
  padding: 25px;
}

.center {
  margin: 0 auto;
}

.lead {
  font-size: 1.1em;
}

.pull-right {
  float: right;
}

.upper {
  text-transform: uppercase;
}

.hide {
  display: none;
}

.inline {
  display: inline;
}

.text-center {
  text-align: center;
}

.positive {
  color: $positive;
}

.negative {
  color: $negative;
}

.full-width {
  width: 100%;
}

.shadow {
  box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.4);
}

table {
  background: #fff;
  border-collapse: separate;
  border-radius: 3px;
  box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.4);
  tr {
    transition: 0.2s ease;

    &:hover {
      box-shadow: 0 5px 7px -6px rgba(0, 0, 0, 0.4);
    }


    th, td {
      padding: 20px 45px;

      @media(max-width: $break-sm), (max-width: $break-md) {
        padding: 10px;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    th {
      background: $admin-primary;
      border-bottom: 1px solid lighten($off-black, 20%);
      color: #fff;
      font-weight: 600;
      text-align: left;
    }
    td {
      border-bottom: 1px solid lighten($admin-primary, 20%);
      color: $off-black;


      &:first-child {
        font-weight: 600;
      }
    }

    .num {
      width: 57px;
      padding: 20px 0 20px 45px;
    }
  }
}

// Cover
#cover {
  background: #fff;
  font-size: .8em;
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 99999;

  .loader {
    animation: loader 1.3s ease infinite;
    border: 5px solid $off-white;
    border-radius: 50%;
    border-top: 5px solid $primary-color;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: calc(25% - 80px);
    width: 80px;
  }

  @keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
// End Cover

// Badge
.badge {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 5px;
  color: #fff;
  line-height: 3;
  padding: 11px;
  transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}

.badge:hover {
  background-color: $off-white;
  border: 1px solid $primary-color;
  color: $primary-color;
  cursor: pointer;
}
// End Badge

// Standard Button
.btn {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: .9em;
  padding: 8px 20px;
  text-decoration: none;
  transition: 0.2s ease;

  &:hover {
    background-color: #fff;
    color: $primary-color;
  }
}

.btn-cta {
  font-size: 1.2em;
  padding: 10px 30px;
}

.btn-admin {
  background: $admin-primary;
  border-color: $admin-primary;

  &:hover {
    color: $admin-primary;
  }
}

.btn-negative {
  background: $negative;
  border-color: $negative;

  &:hover {
    color: $negative;
  }
}

.btn-cta {
  font-size: 1.2em;
  padding: 10px 30px;
}

.btn-sm {
  font-size: .9em;
  padding: 5px 8px;
}



// End Standard Button

// Image Card
.card {
  background: #fff;
  box-shadow: 0 1px 5px -3px rgba(0, 0, 0, 0.7);
  padding: 0;
  position: relative;
  height: 100%;
  transition: 0.4s ease;
  width: 100%;

  @media(max-width: $break-sm) {
    width: 100% !important;
  }

  &:hover {
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.7);
  }
  .type {
    background: $admin-primary;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 25px;
    width: 100%;
    .fa {
      padding: 50px 0;
      margin-left: -25px;
    }
    @media(max-width: $break-sm) {
      .fa {
        display: none;
      }
      font-size: 1.4em;
      padding: 15px 0;
    }
  }
  .img {
    a {
      text-decoration: none;
    }
    .top {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.7);
      height: 220px;
      width: 100%;
    }
    span {
      color: #fff;
      font-size: 1.1em;
      font-weight: 600;
      padding-right: 20px;
      line-height: 1.5;
      position: relative;
      left: 25px;
      text-shadow: 0 0 5px rgba(0, 0, 0, 1);
      top: -195px;
    }
  }
  .body {
    padding-bottom: 50px;
    margin: 0 25px;
    .title {
      display: inline;
      margin: 15px 0;

      @media(max-width: $break-sm) {
        display: block;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
      .fa {
        color: $admin-primary;
      }
    }
    pre {
      color: lighten($off-black, 10%);
      display: inline;
      font-size: .8em;

      i {
        @media(max-width: $break-sm) {
          display: none;
        }
      }

      @media(max-width: $break-sm) {
        display: block;
        margin: 15px 0;
        float: none;
      }
    }
    .text {
      font-size: .9em;
      line-height: 1.5;
      margin: 15px 0 25px 0;
    }
    .btn {
      font-size: .9em;
      margin-left: 0;
      position: absolute;
      bottom: 25px;
    }
  }
  .no-btn {
    padding-bottom: 0;
  }
}

.card.alone {
    height: auto;
    width: 450px;
}

.card.full {
  width: 100%;
  height: auto;

  .img {
    .top {
      height: 450px;
    }
    span {
      top: -400px;
    }
  }
}

.title-banner {
  span {
    background: rgba(0, 0, 0, 0.56);
    padding: 10px;

    @media(max-width: $break-sm) {
      line-height: 2.37 !important;
      left: 13px !important;
      top: -204px !important;

    }
  }
}
// End Card

// Card Grid

.card-grid {
  display: grid;
  grid-template-areas: 'card card card';
  grid-template-columns: repeat (3, 1fr);
  grid-gap: 35px 25px;


  @media(max-width: $break-lg), (max-width: $break-xl) {
    grid-template-areas: 'card card';
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: $break-sm), (max-width: $break-md) {
    grid-template-areas: 'card';
    grid-template-columns: 1fr;
  }

  .card {
    grid-area: 'card';

    @media(max-width: $break-sm), (max-width: $break-md), (max-width: $break-lg), (max-width: $break-xl)  {
      margin: 0 auto;
    }
  }
}

// End Card Grid

.not-logged {
  @media(max-width: $break-sm){
    #container {
      #admin {
        margin-left: calc(-15% - 10px);
        .header-aside {
          margin-left: 0;
        }
        .card-grid {
          width: 115%;
        }
      }
    }
  }
  @media(min-width: $break-md), (min-width: $break-lg) {
    #container {
      #admin {
        .card-grid {
          width: 200%;
        }
      }
    }
  }
  @media(min-width: $break-xl) {
    #container {
      #admin {
        .card-grid {
          width: 100%;
        }
      }
    }
  }
}
