/*
  Author: Blaze Rowland
  Description: Admin.scss (admin css) for Portfolio
  Date: February 22nd, 2018
*/

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,900");

// Variables
@import "partials/variables";
@import 'partials/reset';

// Default Styling
html, body {
  height: 125%;
}

body {
  background: $off-white;
  font-family: $font-family-sans-serif;
}

h1 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
}

.float-right {
  float: right;
}

#container {
  height: 100%;
  width: 100%;
}

// Login / Register
.admin-form {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: ". form form ."
                       ". form form ."
                       ". errors errors .";


  form {
    align-self: center;
    background-color: darken(#fff, .5%);
    // box-shadow: 0 0 160px 37px rgba(47, 207, 242, 0.6);
    box-shadow: 0 0 37px -11px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    grid-area: 'form';
    height: auto;
    margin-top: 100px;
    padding: 0 55px 45px 55px;
    justify-self: center;
    width: 330px;

    h1 {
      // margin-top: -50px;
      // margin-bottom: 50px;
    }

    a {
      color: darken($primary-color, 10%);
      text-decoration: none;
    }

    .top {
      height: 120px;
      margin: 0 0 45px -55px;
      width: calc(100% + 110px);

      .form-img {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%;
      }
      h1 {
        color: white;
        position: relative;
        margin-top: -80px;
        z-index: 9999;
      }
    }
    .body {

    }

    .name, .email, .password, .btn-submit {
      border: 1px solid $primary-color;
      border-radius: 3px;
      line-height: 1.9;
      margin: 8px 0 20px 0;
      padding: 5px 5px;
      width: 100%;
    }

    .email {
      display: block;
    }

    .password {
      display: block;
    }

    .btn-submit {
      background: $primary-color;
      color: #fff;
      cursor: pointer;
      font-size: 1em;
      line-height: 1.4;
      margin: 15px 0 20px 0;
      padding: 8px;
    }

    label {
      display: inline;
      .check {
        display: inline;
      }
    }
  }

}
.errors {
  .form-error {
    grid-area: 'errors';
    color: red;
    padding: 25px 0;
    width: 100%;
    text-align: center;
  }
  .form-error:nth-child(n) {
    background-color: rgba(255, 180, 180, 0.5);
    border: 1px solid red;
    border-radius: 5px;
    margin: 35px auto;
    width: 20%;
  }
  .form-error:nth-child(2n) {
    margin: -10px auto;
  }
}
// End Login / Register


// Admin Navbar
.nav-left {
  background-color: rgb(52, 48, 68);
  color: $off-white;
  margin-top: -25px;
  position: fixed;
  height: 100%;
  width: 7em;

  @media(max-width: $break-sm), (max-width: $break-md) {
    width: 4em;
  }

  .links {
    font-size: 1.4em;
    text-align: center;

    a {
      color: inherit;

      li {
        border-bottom: 1px solid rgba(62, 58, 78, 1);
        padding: 30px 0;
        transition: 0.2s ease;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
// End Admin Navbar


// Dashboard
#container {
  margin: 0 auto;
  width: 70%;

  #top-dash {
    margin: 25px 0;
    h1 {
      display: inline;
      line-height: 1.5;
      font-weight: 500;

      @media(max-width: $break-sm), (max-width: $break-md) {
        margin-left: 50px;
      }
    }

    pre {
      display: inline;
      line-height: 3;
      color: lighten($off-black, 10%);

      @media(max-width: $break-sm) {
        display: none;
      }
    }

    .quick-info {
      display: grid;
      grid-template-areas: 'income expense clients projects';
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 25px;
      margin: 35px 0;

      a {
        text-decoration: none;
      }

      @media(max-width: $break-sm), (max-width: $break-md) {
        margin-left: 50px;
        grid-template-areas: 'income'
                             'expense'
                             'clients'
                             'projects';
        grid-template-columns: 1fr;
      }

      li {
        background: white;
        border-radius: 2px;
        box-shadow: 0 0 11.3px -8px rgba(0, 0, 0, 0.4);
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 'icon info';
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        transition: 0.3s ease;

        &:hover {
          box-shadow: 0 0 14px -6px rgba(0, 0, 0, 0.5);

          .aside-icon {
            box-shadow: 8px 0px 14px -14px rgba(0, 0, 0, 0.75);
          }
        }


        .aside-icon {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          color: white;
          font-size: 1.9em;
          grid-area: 'icon';
          padding: 40px 25px;
          -webkit-box-shadow: 10px 0px 10px -17px rgba(0,0,0,0.75);
          -moz-box-shadow: 10px 0px 10px -17px rgba(0,0,0,0.75);
          box-shadow: 10px 0px 10px -17px rgba(0,0,0,0.75);
          transition: 0.3s ease;
        }
        .info {
          grid-area: 'info';
          margin: 25px 15px 25px 5px;
          p {
            color: lighten($off-black, 15%);
            padding: 10px 0;
          }
          .info-income {
            color: #58BCDC;
          }
          .info-expense {
            color: #FE8663;
          }
          .info-clients {
            color: #B198DC;
          }
          .info-projects {
            color: #6CC7BE;
          }
        }
      }


      .income, .expense, .clients, .projects {
        color: white;
        display: inline-block;
        font-size: 1.9em;
        padding: 40px 25px;
      }

      .income {
        background-image: linear-gradient(to top, #58BCDC 0%, #56BDDC 100%);
        grid-area: 'income';
      }
      .expense {
        background-image: linear-gradient(to top, #FE8663 0%, #FF875E 100%);
        grid-area: 'expense';
      }
      .clients {
        background-image: linear-gradient(to top, #B198DC 0%, #B299DD 100%);
        grid-area: 'clients'
      }
      .projects {
        background-image: linear-gradient(to top, #6CC7BE 0%, #6BC8BE 100%);
        grid-area: 'projects'
      }
    }
  } // ./top-dash

  #analytics-1 {
    display: grid;
    grid-gap: 15px 25px;
    grid-template-areas: 'main side1'
                         'main side2';
    grid-template-columns: 2fr 1fr;

    @media(max-width: $break-sm), (max-width: $break-md) {
      grid-template-areas: 'main'
                           'side1'
                           'side2';
      grid-template-columns: 1fr;
      margin-left: 50px;
    }

    .main, .side-1, .side-2 {
      background: #fff;
      box-shadow: 0 0 11.3px -8px rgba(0, 0, 0, 0.4);
      padding: 15px 15px;
    }

    .main {
      grid-area: main;
    }
    .side-1 {
      grid-area: side1;
    }
    .side-2 {
      grid-area: side2;
    }
  }

  #analytics-2 {
    display: grid;
    grid-template-areas: 'side1 side2';
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0;
    @media(max-width: $break-sm), (max-width: $break-md) {
      margin-left: 50px;
      grid-template-areas: 'side1'
                           'side2';
      grid-template-columns: 1fr;
    }

    .side-1, .side-2 {
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 0 11.3px -8px rgba(0, 0, 0, 0.4);
      padding: 15px 15px;
    }
    .side-1 {
      grid-area: side1;
    }
    .side-2 {
      grid-area: side2;
      padding: 0;
    }
  }
}
