
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,900");

// Variables
@import "partials/variables";
@import 'partials/reset';
@import 'lib/animate';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


// Default Styling

body {
  font-family: $font-family-sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

pre {
  color: rgb(94, 94, 94);
}

.pull-right {
  float: right;
}

.upper {
  text-transform: uppercase;
}

.hide {
  display: none;
}

.container {
  margin: 0;
  padding: 0
}

.intermit-hr {
  border: .3px solid #e6e6e6;
  margin: 75px auto;
  width: 75%;
}

.badge {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 5px;
  color: #fff;
  line-height: 3;
  padding: 11px;
  transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}

.badge:hover {
  background-color: $off-white;
  border: 1px solid $primary-color;
  color: $primary-color;
  cursor: pointer;
}

#cover {
  background: #fff;
  font-size: .8em;
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 99999;

  .loader {
    animation: loader 1.3s ease infinite;
    border: 5px solid $off-white;
    border-radius: 50%;
    border-top: 5px solid $primary-color;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: calc(25% - 80px);
    width: 80px;
  }

  @keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}


// Header Section
#header {
  //background: url('/img/me-bg.jpg');
  background: salmon;
  // Background-image texture license: https://www.freepik.com/free-vector/wrinkled-paper-texture_851248.htm Designed by Freepik
  background: url('/img/bg/blaze.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;

  @media(max-width: $break-sm) {
    background-position: left;
  }

  .header-text {
    color: $primary-color;
    font-size: 6em;
    font-weight: 600;
    line-height: 1.2;
    padding-top: 25rem;
    padding-left: 25rem;
    padding-bottom: 15rem;
    text-align: center;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.09);
    text-transform: uppercase;
    animation: colorChange 1s ease;

    @media(max-width: $break-sm), (max-width: $break-md) {
      font-size: 3.4em;
      padding-left: 0;
      text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
    }
  }

  @keyframes colorChange {
    0%{color: rgb(40, 40, 40);}
    100%{color: $primary-color;}
  }


  .header-text p:first-child{
    font-weight: 100;

    @media(max-width: $break-sm), (max-width: $break-md){
      font-weight: 600;
    }
  }
}

// End Header Section

// Navbar Section
#main-nav {
  background-color: #fff;
  font-size: 1.3em;
  line-height: 2;
  padding: 20px 120px;

  @media(max-width: $break-sm), (max-width: $break-md) {
    display: none;
    // display: grid;
    // grid-template-areas: 'link';
    // text-align: left;
  }

  a {
    color: $off-black;
    text-decoration: none;
  }

  .nav-link {
    @media(max-width: $break-sm), (max-width: $break-md) {
      // display: none;
      grid-area: 'link';
    }
  }

  a.brand {
    color: $primary-color;
    font-weight: bold;
    padding-top: 8px;

    @media(max-width: $break-sm), (max-width: $break-md) {
      grid-area: 'brand';
      display: none;
    }
  }


  ul li{
    display: inline;
  }

  ul {
    @media(max-width: $break-sm), (max-width: $break-md) {
      float: none;
    }
  }

  li {
    padding: 8px 30px;
    transition: 0.1s ease;
  }

  li:hover {
    color: rgb(47, 207, 242);
    border-top: 5px solid rgb(47, 207, 242);
    padding-top: 28.4px;

    @media (max-width: $break-sm), (max-width: $break-md) {
      border-top: 0;
      padding-top: 0;
    }
  }
}

// End Nav Bar Section

// Portfolio / Work Section
#portfolio {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;

  @media (max-width: $break-md) {
    grid-template-columns: 50% 50%;
  }

  @media (max-width: $break-sm) {
    grid-template-columns: 100%;
  }

  .portfolio img {
    display: block;
    height: 350px;
    width: 100%;
    transition: 0.2s ease;
  }

  .portfolio img:hover {
    opacity: .8;

    @media(max-width: $break-sm) {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    0% {color: rgba(255, 255, 255, 0); margin-top: 0px; opacity: 0; height: 0px;}
    50% {color: rgba(255, 255, 255, 0); opacity: 1;}
    100% {color: #fff; opacity: 1; height: 60px;}
  }

  .portfolio-overlay {
    background: $primary-color;
    height: 60px;
    margin-top: -60px;
    opacity: 0;
    position: relative;
    text-align: center;
    transition: 0.4s ease;
    width: 100%;
    z-index: 2;

    @media(max-width: $break-sm) {
      display: none;
    }


    a {
      color: $off-white;
      font-size: 1.5em;
      line-height: 2.4;
      opacity: 1;
    }

    .portfolio-link {
      text-align: center;

      a {
          cursor: pointer;
      }
    }
  }

  .portfolio:hover .portfolio-overlay {
      animation-name: slideIn;
      animation-duration: 0.4s;
      color: #fff;
      opacity: 1;
  }

  .placeholder {
    img:hover {
      opacity: 1;
    }
    .portfolio:hover {
      opacity: 1;
    }
    .portfolio-overlay {
      display: none;
    }
  }

  .portfolio-overlay:hover {
    box-shadow: inset 0 0 8px 0px rgba(0, 0, 0, 0.3);
  }

  .portfolio:hover a {
    animation-name: slideIn;
    animation-duration: 0.25s;
  }

  .portfolio {
    .zoomed-a, .zoomed-b, .zoomed-c, .zoomed-d, .zoomed-e, .zoomed-f, .zoomed-g {
      background-color: $off-white;
      border-radius: 15px;
      box-shadow: 0 0 19px -6px rgba(0, 0, 0, 0.4);
      display: none;
      height: auto;
      left: 12%;
      position: fixed;
      top: 10%;
      width: 75%;
      z-index: 9999999;

      .desc {
        line-height: 1.6;
        padding: 25px 45px;
      }

      img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: 0 -1px 14px 3px rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 450px;
        overflow-y: scroll;

        &:hover {
          opacity: 1;
        }
      }

      h3 {
        font-size: 1.4em;
        font-weight: 600;
        a{
          text-decoration: none;
          color: $off-black;
        }
      }
      h4 {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 10px;
      }
      span {
        font-size: .6em;
        font-weight: normal;
        line-height: 1.4em;
      }
      p {
        margin: 10px 0;

        a{
          color: $primary-color;
          text-transform: capitalize;
        }
      }
      .badge {
        margin-right: 5px;
      }
      .img {
        .close {
          color: white;
          font-size: 1.5em;
          position: absolute;
          right: 25px;
          text-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
          top: 20px;
        }
      }
    }
  }
}
// End Portfolio / Work Section


// About Me Section
.text-center {
  text-align: center;
  vertical-align: center;
}

#about {
  width: 85%;
  margin: 75px auto;
  margin-bottom: 125px;


   h1 {
    margin-bottom: 75px;
  }

  .section-info {
    color: rgb(36, 36, 36);
    font-size: 1.2rem;
    line-height: 1.8;
    margin: 45px auto;
    width: 60%;
  }

  .section-hr {
    border: .3px solid #e6e6e6;
  }

  .about-blocks {
    display: grid;
    grid-gap: 60px;
    grid-template-areas: 'block-1 block-2 block-3';
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 70%;

    @media (max-width: $break-md) {
      grid-template-columns: 1fr;
      grid-template-areas: 'block-1'
                           'block-2'
                           'block-3';
    }

    @media (max-width: $break-sm) {
      grid-template-columns: 1fr;
      grid-template-areas: 'block-1'
                           'block-2'
                           'block-3';
    }
  }

  .about-block {
    background-color: $off-white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 16px -10px $primary-color;
    -moz-box-shadow: 0px 0px 16px -10px $primary-color;
    box-shadow: 0px 0px 16px -10px $primary-color;
    padding: 55px 25px;
    transition: 0.5s ease;

    i {
      color: $primary-color;
      font-size: 2.8em;
    }

    h2 {
      padding: 15px;
    }

    .block-1 {
      grid-area: 'block-1';
    }

    .block-2 {
      grid-area: 'block-2'
    }

    .block-3 {
      grid-area: 'block-3';
    }
  }


  #services {
    display: grid;
    grid-template-areas: 'block-1 block-2 block-3'
                         'block-4 block-5 block-6';
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 75%;

    @media (max-width: $break-sm), (max-width: $break-md) {
      grid-template-columns: 1fr;
      grid-template-areas: 'block-1'
                           'block-2'
                           'block-3'
                           'block-4'
                           'block-5'
                           'block-6';
     line-height: 1.6;
     margin-bottom: 55px;
    }

    .service-block {
      margin: 45px 25px;

      i {
        color: $primary-color;
        font-size: 5em;
        padding: 20px 0;
      }

      h2 {
        font-size: 1.5em;
        padding: 15px 0;
      }

      p{
        color: $off-black;
        line-height: 1.5;
      }
    }
  }

  #skill {
    background: $off-white;
    border-radius: 5px;
    box-shadow: 0px 0px 16px -10px #2fcff2;
    padding: 25px 40px;
    margin: 45px auto;
    margin-bottom: 55px;
    width: 75%;

    @media (max-width: $break-sm) {
      display: none;
    }

    .badge {
      line-height: 4;
    }
  }

  .download-resume {
    background: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
      background: darken($primary-color, 9%);
      border-color: darken($primary-color, 15%);
      cursor: pointer;
    }
  }
}
// End About Section

// Contact Section

#contact {
  background: rgb(40, 40, 40);
  -webkit-box-shadow: 0px 0px 8px 0px $primary-color;
  -moz-box-shadow: 0px 0px 8px 0px $primary-color;
  box-shadow: 0px 0px 8px 0px $primary-color;
  color: white;
  padding: 50px 0;
  width: 100%;
}

h1 {
  margin-bottom: 55px;
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'info form form';
  width: 85%;
  margin: 0 auto;

  @media (max-width: $break-sm), (max-width: $break-md), (max-width: $break-lg) {
    grid-template-columns: 1fr;
    grid-template-areas: 'form'
                         'info';
  }

  .form-group {
    width: 60%;
    margin: 0 auto;

    @media(max-width: $break-sm) {
      width: 100%;
    }
  }

  .contact-info {
    grid-area: 'info';
    margin: 50px auto;

    @media (max-width: $break-sm), (max-width: $break-md), (max-width: $break-lg) {
      display: none;
    }


    ul {
      display: inline-block;
      @media(max-width: $break-sm) {
        display: block;
      }
      li {
        line-height: 2;
        font-size: 1.3em;
        margin: 0 50px;
        padding: 25px 0;

        i {
          font-size: 1.6em;
          padding: 0 35px;
        }
      }
    }
  }

  .contact-form {
    margin: 45px 0;
    text-align: center;
    grid-area: 'form';

    input, textarea {
      background-color: inherit;
      border: 0;
      border-bottom: 2px solid $primary-color;
      color: #fff;
      font-size: 1.2em;
      line-height: 2.5;
      margin-right: 25px;
      width: 40%;

      @media(max-width: $break-sm) {
        margin: 0 0 25px 0 !important;
        width: 100%;
      }
    }

    input:last-child {
      margin-right: 0;
      margin-left: 25px;

      @media(max-width: $break-sm) {
        margin: 0 0 25px 0 !important;
      }
    }

    input::placeholder, textarea::placeholder {
      color: white;
    }

    input:focus:invalid, textarea:focus:invalid {
      border: 0;
      border-bottom: 2px solid rgb(226, 104, 104);
    }

    input:required:invald, input:focus:invalid, textarea:required:invalid, input:focus:invalid {
      -moz-box-shadow: none;
    }

    textarea {
      font-family: $font-family-sans-serif;
      margin: 30px 0;
      resize: none;
      width: 87%;
    }

    .contact-submit {
      background: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 5px;
      color: #fff;
      font-size: .9em;
      margin-right: 50px;
      transition: 0.4s ease;
      text-align: center;
      width: inherit;

      &:hover {
        background: darken($primary-color, 9%);
        border-color: darken($primary-color, 15%);
        cursor: pointer;
      }
    }
  }
}
// End Contact section


// Footer section
#site-footer {
  background: rgb(24, 24, 24);
  color: rgb(219, 219, 219);
  -webkit-box-shadow: 0px -3px 13px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -3px 13px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -3px 13px 0px rgba(0,0,0,0.5);
  display: grid;
  grid-tempate-areas: 'copy social';
  grid-auto-flow: column;
  font-size: .8em;
  padding: 15px 0;
  width: 100%;

  .copy, .social {
    margin: 0 auto;
  }

  .copy {
    grid-area: 'copy';
  }

  .social {
    grid-area: 'social';
    grid-column-end: 20;

    i {
      cursor: pointer;
      margin-right: .5em;
      transition: 0.4s ease;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
}


// Portfolio Page (show)
#portfolio-show {
  background: url('/img/bg/texture.jpg');
  background-position: center;
  background-size: cover;

  .section-img {
    display: grid;grid-template-areas: ". showImg showImg ."
                                       ". showImg showImg .";
    grid-template-columns: repeat(4, 1fr);
    padding: 80px 0;
    img {
      grid-area: showImg;
      align-self: center;
      justify-self: center;
      border-radius: 25px;
      box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
    }
  }
}
