/*
  Author: Blaze Rowland
  Description: App.scss (main css) for Portfolio
  Date: February 15th, 2018
*/

@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/typography';
@import 'base/animations';
@import 'base/utilities';

@import 'components/buttons';
@import 'components/scroller';
@import 'components/form';
@import 'components/table';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/about';
@import 'layout/work';
@import 'layout/blog';
@import 'layout/contact';
@import 'layout/footer';
@import 'layout/navigation';

@import 'pages/home';
@import 'pages/about';