// Typography
$font-family-sans-serif: "Raleway", sans-serif;

// Colors
$primary-color: rgba(47, 207, 242, 1);
$off-white: rgb(250, 250, 250);
$off-black: #242424;

// Media Queries
$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
